<h1>Showing Articles Details</h1>
<p><strong>ID : </strong><%= @article.id %></p>
<p><strong>Title : </strong><%= @article.title %></p>
<p><strong>Description : </strong><%= @article.description %></p>
<p><strong>Created At : </strong><%= @article.created_at %></p>
<p><strong>Updated At : </strong><%= @article.updated_at %></p>
